@import 'variables'
.ant-btn
  border-color: black
  color: black

  &:hover
    border-color: $color-black
    color: $color-black
    opacity: .5

  &-primary
    background-color: $secondary-color
    border-color: white !important
    color: white !important
    opacity: 1 !important

    &:hover
      background-color: rgba($secondary-color, .7) !important
