@import "mixins"
@import "variables"

.tx-center
  text-align: center

.pri-color
  background-color: $color-orange

.sec-color
  background-color: $secondary-color
  color: white

.content-slot
  height: 100%
  position: relative
  left: 0
  transition: all 0.3s ease
  margin-top: 70px
  margin-left: 55px
  padding: 20px 10px

  .content-wrapper
    overflow: auto
    padding: 8px

.more-info-details
  font-weight: bolder

.status_approved
  color: $secondary-color

.status_rejected
  color: $danger-color

.search-input
  border: 1px solid #e3e6eb
  height: 30px
  border-radius: 8px
  outline: none
  padding: 3px
  cursor: pointer

.the-btn
  outline: none
  border: none
  border-radius: 8px
  height: 30px
  padding: 3px 6px
  @include center-hor

.pagination-footer
  justify-content: space-between
  padding: 0 10px
  @include center-hor
  margin-bottom: 20px

.pagination-btn
  background-color: $hover-color
  color: black
  @include center-hor-ver
  height: 30px
  width: 30px
  border-radius: 50%
  font-weight: bold
  cursor: pointer

.action-btns
  margin-right: 10px
  cursor: pointer

.form-input
  border-radius: 8px
  border: none
  outline: none
  background-color: $hover-color
  width: 100%
  height: 41px
  padding: 10px
  margin-bottom: 10px
  font-size: 14px

  &:disabled, &:read-only
    cursor: not-allowed


.view-item-body
  border-radius: 10px
  border: 1px solid $hover-color
  padding: 10px

.navigation-top-bar
  height: 50px
  background-color: $secondary-color
  padding: 10px
  font-size: 30px
  font-weight: bold
  align-items: center
  display: flex
  justify-content: space-between
  color: white
  border-radius: 10px
  margin-bottom: 20px

  .icon-div
    height: 40px
    width: 40px
    border: 1px solid white
    border-radius: 50%
    @include center-hor-ver
    cursor: pointer

    &:hover
      background-color: white

      .icon
        color: #1fd242

    .icon
      @include center-hor-ver
      font-size: 20px
      font-weight: bolder

  span
    cursor: pointer
    margin-right: 30px

.first-dash
  display: flex
  justify-content: space-between

  .mini-card
    @include shadow
    cursor: pointer
    padding: 10px
    width: 16%
    border-radius: 10px
    height: 100px
    @include center-hor-ver

.item-body
  border-radius: 10px
  margin: 5px
  padding: 10px
  width: 100%
  border: 1px solid $hover-color

.login
  position: absolute
  top: 50%
  left: 50%
  margin-right: -50%
  transform: translate(-50%, -50%)
  width: 60%
  padding: 10px

  .brand
    display: none

  .login-details
    border-radius: 10px
    display: flex
    justify-content: space-between
    border: 1px solid $secondary-color

    .left-items
      display: none
      //@include center-hor-ver
      background-color: $secondary-color
      padding: 10px
      border-top-left-radius: 10px
      border-bottom-left-radius: 10px
      width: 50%
      height: inherit

      .details
        .desc
          @include center-hor-ver

          .text-dec
            width: 70%

        .logo
          @include center-hor-ver
          margin-bottom: 20px

    .right-items
      padding: 10px
      width: 50%
.user-management-page
  display: flex
  justify-content: space-between
  a
    text-decoration: none
    color: black
  a:hover
    text-decoration: none
  .item
    width: 24.5%
    height: 100px
    border-radius: 10px
    @include shadow
    @include center-hor-ver
    font-weight: bold
    font-size: 20px
    margin-bottom: 10px
@media only screen and (min-width: 450px)
  .login
    .login-details
      .left-items
        @include center-hor-ver

@media only screen and (max-width: 450px)
  .user-management-page
    display: block
    .item
      width: 100%
      height: 100px
      font-size: 15px
  .navigation-top-bar
    height: 30px
    font-size: 20px

    .icon-div
      height: 25px
      width: 25px

      .icon
        font-size: 15px

    span
      margin-right: 20px
  .content-slot
    margin-left: 0
  .first-dash
    overflow-x: auto
    padding: 10px 0

    .mini-card
      min-width: 300px
      margin: 7px
  .login
    .brand
      @include center-hor-ver
    width: 100%

    .login-details
      .left-items
        display: none
      //@include center-hor-ver
      .right-items
        width: 100%

button:disabled
  background-color: $hover-color !important
