@import "mixins"
@import "variables"
@mixin nav-shadow
  box-shadow: 0 2px 6px 0 rgba(0, 0, 0, 0.1), 0 2px 10px 0 rgba(0, 0, 0, 0.19)
.empty-container
  height: 20px
.active
  //border-left: 10px solid $color-orange
div.active+div
  background-color: $main-bg
  .route-container
    border-top-right-radius: 25px
    background-color: $secondary-color

.active, .side-nav-item:hover
  background-color: $main-bg
  border-top-left-radius: 25px
  border-bottom-left-radius: 25px
  .collapse-label
    font-weight: bold

  .item-icon
    color: $secondary-color

  .item-label
    color: $secondary-color

.sidenav
  border-top-right-radius: 45px
  border-bottom-right-radius: 45px
  width: 60px
  position: fixed
  z-index: 2
  top: 0
  left: 0
  transition: 0.5s
  height: 100vh
  background-color: $nav-head

  .side-top
    background-color: transparent

    .side-header
      text-align: center
      padding: 10px

      .close-icon-container
        @include center-hor-ver
        justify-content: end
        margin-right: 10px

      .brand-name
        padding: 0px 10px 0px 0px
        @include center-hor-ver
        color: white
        justify-content: space-between


        .logo
          @include center-hor-ver

        .name
          @include center-hor-ver
          margin-left: 10px
          font-size: 16px
          font-weight: bold
          color: white

      .close-btn
        bottom: 40px
        cursor: pointer
        @include center-hor-ver
        border-radius: 50%
        padding: 0
        height: 40px
        width: 40px

      .icon
        font-weight: bold

      .toggle-icon
        @include center-hor-ver
        height: 50px
        width: 50px

  .sub-dept
    font-weight: bolder
    font-size: 18px
    width: 100%
    height: 30px
    margin-bottom: 10px
    text-align: center
    color: white

  .border-80
    //border-top-right-radius: 80px !important

  .content-body
    background-color: $menu-color
    overflow-y: auto

    .content-wrap
      margin-top: 10px

      .side-nav-item
        padding: 0
        margin-left: 5px
        .collapse-label
          display: flex
          padding: 10px 5px
          align-items: center
          color: $link-color
          cursor: pointer

          .item-icon
            min-width: 50px
            height: 30px
            @include center-hor-ver
            margin-right: 10px

            img
              height: 30px
              width: 30px

          .item-label
            @include center-hor-ver

.top-bar
  display: block !important
  position: fixed
  top: 0
  max-height: 80px
  width: 100%
  padding: 10px 30px 10px 90px
  background-color: $main-bg
  z-index: 2
  @include center-hor

  hr
    border-top: 1px solid black !important

  &-content
    display: flex
    justify-content: space-between
    width: 100%

  .left-side
    @include center-hor

    .toggle-icon
      color: black
      bottom: 40px
      cursor: pointer
      align-content: center
      //border-radius: 50%
      line-height: 40px
      padding: 0
      height: 40px
      width: 40px
      background-color: $hover-color
      margin-left: 300px
      display: block

      .icon
        font-weight: bold

    .brand
      margin-left: 60px
      cursor: pointer
      font-size: 30px
      font-weight: bold
      @include center-hor-ver
      color: black

      .logo
        @include center-hor-ver

      .name
        @include center-hor-ver
        margin-left: 10px
        font-size: 30px
        font-weight: bold
        color: black

  .right-side
    @include center-hor

    .active-user
      @include center-hor-ver
      cursor: pointer

    .notification
      @include center-hor-ver
      margin-right: 15px
      cursor: pointer
      border-radius: 50%
      height: 30px
      width: 30px
      background-color: $hover-color

@media only screen and (max-width: 450px)
  .sidenav
    width: 0
  .content-slot
    padding: 20px
  .top-bar
    position: fixed
    top: 0
    width: 100%
    padding: 20px

    .left-side
      .toggle-icon
        display: none

      .brand
        margin-left: 40px
        @include center-hor-ver
        color: black

        .name
          font-size: 20px


//@media only screen and (max-width: 768px)

