$primary-color: #008cff
$danger-color: #FF4D67
$secondary-color: #40189d
$color-orange: #FAA61B
$link-color: #aaaaaa
$nav-head: $secondary-color
$menu-color: $secondary-color

$hover-color: #e3e6eb
$spinner-small: 0.40
$info-color: #cfeafe
$background-color: #ffffff
$main-bg: #F6F6FC
$color-black: black
